
<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <style>
        @media print {
            @page {
                margin: 0;
            }
        }
    </style>
</head> 


<body>
    <div style="padding: 2rem;">
      <a href="/" style="font-size: 1.5rem; color: white;" class="btn btn-primary">Ir al Inicio</a>
  </div>
    <canvas id="myCanvas" width="2550" height="3300"></canvas>
</body>

<script>
    (function () {
        window.__particpantes = {{ queryset |safe }}
        window.__disciplinas = {{ disciplinas|safe }}

        const participantes = __particpantes.map(participante => participante.fields)
        const disciplinas = __disciplinas.map(disciplina => disciplina.fields)

        var canvas = document.getElementById("myCanvas")
        var ctx = canvas.getContext("2d")

        const positions = {
            x1: 612,
            y1: 1055,
            x2: 612,
            y2: 1119,
            x3: 612,
            y3: 1183,
            x4: 448,
            y4: 1215
        }

        participantes.forEach((participante, iteracion) => {
            let xModifier = 0
            let yModifier = 0

            if (iteracion === 1) {
                xModifier+=1316
                yModifier+=10
            } else if (iteracion === 2) {
                xModifier+=0
                yModifier+=1707
            } else if (iteracion === 3) {
                xModifier+=1316
                yModifier+=1697
            }

            const imagen = new Image()
            imagen.src = participante.barcode_link
            ctx.font = "40px Arial"
            ctx.textAlign = "center"
            ctx.fillText(`${participante.nombres} ${participante.apellido_p} ${participante.apellido_m}`,
                positions[`x1`] + xModifier, positions[`y1`] + yModifier
            )
            ctx.fillText(disciplinas[participante.disciplina -1 ].nombre,
                positions[`x2`] + xModifier, positions[`y2`] + yModifier
            )
            ctx.fillText(participante.institucion,
                positions[`x3`] + xModifier, positions[`y3`] + yModifier
            )
            imagen.onload = () => {
    
                ctx.drawImage(imagen, positions[`x4`] + xModifier, positions[`y4`] + yModifier)
            }
        })
    })()
</script>
</html>