<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sistema universiada</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

  <div class="container">
  <div class="row">

    <div class="col-sm text-center">
      <br>
<img height="40px" width="100%" src="https://cdn.rawgit.com/Nifled/07231595ae03a619246b871c8a2c446f/raw/753ffc61e111dfba27574e7e3d944091ba2fbcd6/unison.svg" alt="Universiada 2018 logo">
      <br>
      <br>
        <h1><a href="/admin">Administración de universiada</h1>
  <br>
  <h1><a href="/codigos">Registrar comidas</h1>
  <br>
  <h1><a href="/tablas">Ver reportes</h1>
    </div>

  </div>
  </div>

</body>
</html>